<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# icon for site #}
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/images/logo.ico') }}" />

    <link rel="apple-touch-icon-precomposed" href="{{ asset('assets/images/apple-touch-icon.png') }}" />

    {# stylesheet #}
    {% block stylesheets %}
        {% stylesheets
        'css/app.css' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body  id="impx-body">

    <!-- Main Container -->
    <div id="impx-container">
        {% block body %}{% endblock %}
    </div>

    {# javascript #}
    {% javascripts
    'js/app.js'
     %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block javascripts %}

        <script src="{{ asset('assets/js/app.js') }}"></script>

    {% endblock %}
</body>
</html>
