{% trans_default_domain 'AppBundle' %}

    <!-- Wrapper Start -->
    <section class="impx-wrapper">
        <div class="uk-container uk-container-center">
            <div class="uk-grid">
                <div class="uk-width-xlarge-2-3 uk-width-large-2-3 uk-width-medium-1-1 uk-width-small-1-1 uk-container-center">
                    <!-- Intro -->
                    <div class="impx-intro uk-text-center">
                        <h1>A Place For <span>Tasty Food</span></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque mattis lorem ex, in facilisis arcu lacinia vitae, proin porta molestie urna, rhoncus</p>
                    </div>
                    <!-- Intro End -->
                </div>
            </div>

            <!-- Site Features Section -->
            <ul class="uk-grid uk-margin-top-remove uk-grid-width-small-1-1  uk-grid-width-medium-1-1 uk-grid-width-large-1-3 uk-grid-width-xlarge-1-3 impx-feature-section">
                <!-- Site Feature 1 -->
                <li class="uk-text-center">
                    <div class="impx-feature-wrapper">
                        <div class="impx-feature-img-wrapper uk-text-center">
                            <img src="{{ asset("assets/images/products/aa.png") }}" alt="{{ "Cofetărie"|trans }}" class="uk-border-circle impx-feature-img"/>
                        </div>
                        <div class="impx-feature-ribbon">
                            <div class="impx-feature-ribbon-stitches-top"></div>
                            <div class="impx-feature-ribbon-content"><h1><a href="#">{{ "Cofetărie"|trans }}</a></h1></div>
                            <div class="impx-feature-ribbon-stitches-bottom"></div>
                        </div>
                    </div>
                    <div class="impx-feature-content uk-text-center">
                        <p>Quisque hendrerit, lacus vel rutrum accumsan, eros lacus euismod eros venenatis dolor nec massa</p>
                    </div>
                </li>
                <!-- Site Feature 1 End -->

                <!-- Site Feature 2 -->
                <li class="uk-text-center">
                    <div class="impx-feature-wrapper">
                        <div class="impx-feature-img-wrapper uk-text-center">
                            <img src="{{ asset("assets/images/products/patiserie.png") }}" alt="Featured Img 2" class="uk-border-circle impx-feature-img"/>
                        </div>
                        <div class="impx-feature-ribbon">
                            <div class="impx-feature-ribbon-stitches-top"></div>
                            <div class="impx-feature-ribbon-content"><h1><a href="#">{{ "Patiserie"|trans }}</a></h1></div>
                            <div class="impx-feature-ribbon-stitches-bottom"></div>
                        </div>
                    </div>
                    <div class="impx-feature-content uk-text-center">
                        <p>Quisque hendrerit, lacus vel rutrum accumsan, eros lacus euismod eros venenatis dolor nec massa</p>
                    </div>
                </li>
                <!-- Site Feature 2 End -->

                <!-- Site Feature 3 -->
                <li class="uk-text-center">
                    <div class="impx-feature-wrapper">
                        <div class="impx-feature-img-wrapper uk-text-center">
                            <img src="{{ asset("assets/images/products/tort.png") }}" alt="Featured Img 3" class="uk-border-circle impx-feature-img"/>
                        </div>
                        <div class="impx-feature-ribbon">
                            <div class="impx-feature-ribbon-stitches-top"></div>
                            <div class="impx-feature-ribbon-content"><h1><a href="#">{{ "Torturi"|trans }}</a></h1></div>
                            <div class="impx-feature-ribbon-stitches-bottom"></div>
                        </div>
                    </div>
                    <div class="impx-feature-content uk-text-center">
                        <p>Quisque hendrerit, lacus vel rutrum accumsan, eros lacus euismod eros venenatis dolor nec massa</p>
                    </div>
                </li>
                <!-- Site Feature 3 End -->
            </ul>
            <!-- Site Features Section -->
        </div>
    </section>
    <!-- Wrapper End -->